<div class="navbar">
  <%= link_to design_path do %>
    <%= svg_tag "icons/menu_medium_icon.svg" %>
  <% end %>

  <%= link_to root_path do %>
    <%= render "components/logo" %>
  <% end %>

  <%= link_to activities_path do %>
    <%= svg_tag "icons/search_medium_icon.svg" %>
  <% end %>
</div>
