<div class="container">
  <section>
    <%# <%= image_tag("activities/dummy-activity-picture", alt: "Image principale de l'activité", class: "activity-image activity-image-cover") %>
    <div class="activity-image activity-image-cover"></div>
    <h1><%= @activity.name %></h1>
    <div class="activity-main-infos">
      <div>
        <%= svg_tag "icons/location_medium_icon.svg" %>
        <p>
          <%= @activity.address %>
        </p>
      </div>
      <div>
        <%= svg_tag "icons/schedule_medium_icon.svg" %>
        <p>du mardi au dimanche, de 13h à 20h</p>
      </div>
    </div>
  </section>

  <section>
    <h2>Description</h2>
    <p><%= simple_format(@activity.description) %></p>
  </section>

  <section>
    <h2>Localisation</h2>
    <%# <%= image_tag("activities/dummy-activity-location", alt: "Localisation de l'activité", class: "activity-image activity-image-location") %>
    <div class="activity-image activity-image-location"></div>
  </section>
</div>
  <div class="sticky-bottom">
    <%= link_to activities_path, class: "btn btn-primary" do %>
      <div class="btn-content">
        <%= svg_tag "icons/check_medium_icon.svg" %>
        <span>C'est parti !</span>
      </div>
    <% end %>
  </div>
<%= render "components/footer" %>
